@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">出错了[Error].</h1>
<h2 class="text-danger">在处理您的请求过程中发生了未处理的异常。</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
