@{
    ViewData["Title"] = ViewData["Status"] ?? ":(";
}

<div class="row">
    <div class="col-md-1">
        <div style="font-size: 800%">:(</div>
    </div>
    <div class="col-md-10" style="margin-top: 19px">
        <h1>Oops.</h1>
        <h2>抱歉，服务器无法处理您的请求。（Status Code：@ViewData["Status"]）</h2>
    </div>
</div>