@model TelecomPackage

@{
    ViewData["Title"] = "添加套餐信息";
}

<div class="page-header">
    <h2>添加套餐</h2>
    <h4>添加新的套餐信息</h4>
</div>
<form asp-action="AddPackage" asp-controller="Manage" asp-anti-forgery="true" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BaseUsage" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BaseUsage" class="form-control" />
            <span asp-validation-for="BaseUsage" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="OutPrice" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="OutPrice" class="form-control" />
            <span asp-validation-for="OutPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">添加信息</button>
        </div>
    </div>
</form>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
