@{
    ViewData["Title"] = "联系我们";
}
<h2>@ViewData["Title"]</h2>

<h3>地址</h3>
<address>
    中华人民共和国<br />
    湖北省，武汉市，洪山区，珞瑜路<br />
    华中科技大学<br />
    <abbr title="Phone">电话：</abbr>
    425.555.0100
</address>

<h3>邮箱支持</h3>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
